node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*

# Only ignore alternative lock files (keep package-lock.json)
yarn.lock
pnpm-lock.yaml
Dockerfile.backup

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
prisma/migrations.sqlite.backup/
prisma/schema.sqlite.backup
